.card {
  position: static;
  display: grid;
  height: auto;
  min-height: auto;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: 100%;
}

.svg {
  width: 50px;
  display: block;
  margin: auto;
  padding-bottom: 30px;
}

.pq {
  margin-left: 130px;
  margin-right: 130px;
  font: normal normal normal 20px/1.41em cormorantgaramond-light,
    cormorantgaramond, 'cormorant garamond', serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(500px, auto);
  text-align: center;
  margin: 50px;
}
