.quality-main {
  width: 100%;
  height: 1600px;
}

.quality-up {
  width: 100%;
  height: 30%;
  background-color: #394737;
  text-align: center;
}

.header {
  font: 40px cormorantgaramond-light, cormorantgaramond, 'cormorant garamond',
    serif;
  text-align: center;
  padding-top: 50px;
  color: #c9dd72;
}

.contentq {
  width: 40%;
  height: 60%;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
  background-color: #394737;
}

.pr {
  color: #ffffff;
  font-size: 18px;
  padding-top: 50px;
}

.quality-down {
  width: 100%;
  height: 70%;
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(500px, auto);
  text-align: center;
  margin: 50px;
}

.card {
  position: static;
  display: grid;
  height: auto;
  min-height: auto;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: 100%;
}

.svg {
  width: 50px;
  display: block;
  margin: auto;
  padding-bottom: 30px;
}

.pq {
  margin-left: 130px;
  margin-right: 130px;
  font: normal normal normal 20px/1.41em cormorantgaramond-light,
    cormorantgaramond, 'cormorant garamond', serif;
}
