li,
a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

.nav-links {
  list-style: none;
}

.nav-links a {
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
  font-size: 15px;
}

.text-container {
  float: right;
  font-style: italic;
  padding: 10px 0 0 10px;
}
